:root{
  --background-color:#ffffff;
  --text-color-nav: #3d5152; 
  --navbar-button : #9fadb2;
  --footer-background : #252525;
  --media-size : 100vh;
  --font-family-for-all-text :"Poppins", sans-serif, Courier, monospace;
  --fond--color--button : #19474c;

}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol{
  list-style-type: none;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


nav{
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}
.logo-navbar{
  object-fit: contain;

  /* order: 1;
  transform: translateY(45px); */
}
.navbar-element{
  /* order: 1; */
  display: flex;
  white-space: nowrap;
  /* transform: translateY(45px); */
}

img{
  max-width: 150px;
  margin-right: 10px;
}
.navbar-status{
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--text-color-nav);
  align-items: center;
  font-family:var(--font-family-for-all-text);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-status::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--navbar-button);
  transition: width 0.3s ease;
}
.navbar-status:hover::after{
  width: 100%;
}

.connect-btn{
  font-family: var(--font-family-for-all-text);
  font-weight: 800;
  background-color: var(--navbar-button);
  cursor: pointer;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
  height: 40px;
  border: 1px solid var(--navbar-button);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease;
} 
.connect-btn:hover {
  background-color: var(--text-color-nav);
  transform: scale(1.1);
}


.connect-btn i{
  margin-right: 5px;
}


.Before-fond {
  
}


.fond{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0%;
  background-image: url(./background-container.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: calc(5/6*var(--media-size));
  width: 100%;
  /* background: linear-gradient(bottom, #ffff 50%, #000000 50% ); */
  background-repeat: no-repeat;
}

.fond-title{
 /* position: relative;
  text-align: center;
  top: 90px; */
  font-family: var(--font-family-for-all-text);
  font-weight: 600;
  color: white;
  margin-bottom: 10px;

}

.fond-boutons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.pl{
  padding-left: 10px;
}

.py{
  padding-right: 10px;
}

.fond-button-element{
  font-family: var(--font-family-for-all-text);
  font-weight: 600;
  background-color: var(--fond--color--button);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  /* white-space: nowrap; */
  transition: background-color 0.3s ease-out, tranform 0.2s ease;
}
.fond-button-element:hover{
  background-color: var(--footer-background) ;
  transform: scale(1.1);
}
.fond-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.no-wrapper {
  white-space: nowrap;
}


.footer-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.footer-group-element-first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(1/3*100vw);
}

.footer-group-element-second{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.group-element{
  color: var(--navbar-button);
  font-family: var(--font-family-for-all-text);
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  position: relative;
}

.group-element::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--navbar-button);
  transition: width 0.3s ease;
}
.group-element:hover::after{
  width: 100%;
}



.primary-font{
  font-family: var(--font-family-for-all-text);
  color: azure;
  text-align: center;
}



footer {
  background-color: var(--footer-background);
  height: calc(1/3*var(--media-size));
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* Téléphones portables (portrait) */
@media (max-width: 576px) {
  .navbar-element{
    display: none;
  }

  .footer-group-element-first{
    display: flex;
    flex-direction: column;
  }

  /* Styles pour les petits écrans */

}

/* Tablettes (portrait) */
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-element{
    display: none;
  }
  .footer-group-element-first{
    display: flex;
    flex-direction: column;
  }
  /* Styles pour les tablettes en portrait */
}

/* Tablettes (paysage) et ordinateurs de bureau */
@media (min-width: 768px) and (max-width: 992px) {
  /* Styles pour les tablettes en paysage et petits ordinateurs de bureau */
}

/* Ordinateurs de bureau et grands écrans */
@media (min-width: 992px) {
  /* Styles pour les grands écrans */
}



