:root{
  --background-color:#ffffff;
  --text-color-nav: #3d5152; 
  --navbar-button : #9fadb2;
  --footer-background : #252525;
  --media-size : 100vh;
  --font-family-for-all-text : sans-serif, Courier, monospace;
  --fond--color--button : #19474c;

}
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol{
  list-style-type: none;
}
nav{
  margin-bottom: 0;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}
.logo-navbar{
  object-fit: contain;

  /* order: 1;
  transform: translateY(45px); */
}
.navbar-element{
  /* order: 1; */
  display: flex;
  white-space: nowrap;
  /* transform: translateY(45px); */
}

img{
  max-width: 150px;
  margin-right: 10px;
}
.navbar-status{
  display: flex;
  justify-content: center;
  color: var(--text-color-nav);
  align-items: center;
  font-family:var(--font-family-for-all-text);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;

}
.connect-btn{
  font-family: var(--font-family-for-all-text);
  font-weight: 800;
  background-color: var(--navbar-button);
  cursor: pointer;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
  height: 40px;
} 
.connect-btn:hover {
  background-color: var(--text-color-nav);
}


.connect-btn i{
  margin-right: 5px;
}


.Before-fond {
  
}


.fond{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0%;
  background-image: url(./background-container.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  height: calc(5/6*var(--media-size));
  width: 100%;
  /* background: linear-gradient(bottom, #ffff 50%, #000000 50% ); */
  background-repeat: no-repeat;
}

.fond-title{
 /* position: relative;
  text-align: center;
  top: 90px; */
  font-family: var(--font-family-for-all-text);
  font-weight: 600;
  color: white;
  margin-bottom: 10px;

}
.text{
  /* position: relative;
  text-align: center;
  top: 80px; */
  color: white;
  font-family: var(--font-family-for-all-text);
  font-weight: 300;
}
.fond-boutons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.fond-button-element{
  /* display: inline-block;
  margin-right: 15px;
  margin-top: 130px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  font-size: 18px; */
  font-family: var(--font-family-for-all-text);
  font-weight: 600;
  background-color: var(--fond--color--button);
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.footer-group{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}
.e{
  /* margin-bottom: 15px;
  color: white;
  margin-left: 90px;
  transform: translateY(190px); */
}
.all{
  /* margin-bottom: 15px;
  color: white;
  margin-left: 300px;
  transform: translateY(85px); */
}
.l{
  text-align: center;
  color: white;
  margin-left: 20px;
}

footer {
  background-color: var(--footer-background);
  height: calc(1/3*var(--media-size));
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* Téléphones portables (portrait) */
@media (max-width: 576px) {
  .navbar-element{
    display: none;
  }

  /* Styles pour les petits écrans */

}

/* Tablettes (portrait) */
@media (min-width: 576px) and (max-width: 768px) {
  .navbar-element{
    display: none;
  }
  /* Styles pour les tablettes en portrait */
}

/* Tablettes (paysage) et ordinateurs de bureau */
@media (min-width: 768px) and (max-width: 992px) {
  /* Styles pour les tablettes en paysage et petits ordinateurs de bureau */
}

/* Ordinateurs de bureau et grands écrans */
@media (min-width: 992px) {
  /* Styles pour les grands écrans */
}



